/.tup
/history.txt
/steamaudio
Quake/**/*.d
Quake/**/*.o
Quake/*.exe
Quake/*.res
Quake/ironwail
Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
gdb.txt
